body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-right: auto;
    background-color: lightpink
}
.maincontent{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
}
/*Main Content*/

/*Flexbox Styles*/
.content1{
    display: flex;
    flex-wrap: wrap; 
}


nav {
    height: 30px;
    width: 1000px;
    margin: 0 auto 50px;
    text-align: justify;
}

#leftmenu{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}



#main {
    margin-bottom: 20px;
}
main p{
    text-align: left;
    padding: 0 20px;
    line-height: 2;
    margin-left: 10%;
}
main p br{
    margin-bottom: 35px;
}


/*Footer*/
footer {
    clear: both;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.round {
    max-width: 100%;
    height: auto;
    float: center;
    border: 6px solid purple;
    border-radius: 50%;
}

div {
    width: 75%;
}

h1{color:#131214}

h2{
    margin-left: 2%;
    margin-top: 10%;
}

html 
*{
    box-sizing: border-box;
}

iframe{
  margin-top: 10%;
  float: center;
}

fieldset{
    border-color:purple;
    border-width: 3px;
    border-style: solid;
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: 120%;
}

fieldset>legend{
    color: purple;
}

label{
    display: block;
    color: purple;
    font-size: 120%;
}

input:valid{
    border-color: green;
}
input:invalid{
    border-color: red;
}
input:focus:invalid{
    border-color: black;
}
