body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25%;
    margin-right: auto;
    background-color: lightpink
}
.maincontent{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
}
/*Main Content*/

/*Flexbox Styles*/
.content1{
    display: flex;
    flex-wrap: wrap; 
}
#mainheader {
    background-color: beige;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}
nav>ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}
nav>ul>li {
    float: left;
}
nav>ul>li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}
#leftmenu{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    margin-bottom: 20px;
}
main p{
    text-align: left;
    padding: 0 20px;
    line-height: 2;
}
main p br{
   margin-bottom: 35px;
}


/*Footer*/
footer {
    clear: both;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.round {
    max-width: 100%;
    height: auto;
    float: center;
    border: 6px solid purple;
    border-radius: 50%;
}
img {
    max-width: 100%;
    height: auto;
    float: center; 
}
figcaption{
    text-indent: 49%; 
}

div {
    width: 75%;
}

@media screen and(max-width: 600px){
    #leftmenu{
        order: 1; 
    }  
}

h2{margin-left: 2%;}